<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>


    <div id="about">
        {{>navbar}}
        <div class="container-2">
            <h1 class="artist"> <b>We are here to build the Professional Artists</b></h1>
            <p class="art">Welcome to Pranali's Art studio. Your number one source for all type of Art.
                We're
                Dedicated to Giving you The Very Best Of Art. We are here to offer the best platform for
                all the artists in the society. We have variety of art types such as: Rangoli, paintings, sketches,
                mandala art, pottery, wall-painting, craft,etc. <br> Have a look on our serivces and work for better
                understanding.</p>
        </div>

        <script src="../jq/jquery.js" type="text/javascript"></script>
        <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>
{{!-- <h1 class="artist"><b>We are here to build a Professional Artist</b></h1>
<p class="art">Welcome to Pranali's Art studio. Your number one source for all type of Art.
    We're
    Dedicated to Giving you The Very Best Of Art. We are here to offer the best platform for
    all the artists in the society. <br> Have a look on our serivces and work for better
    understanding.</p> --}}