<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Art Gallery</title>
     <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
     <div class="container">
        {{>navbar}}
    <header>
        <h1>Craft collection</h1>
    </header>
    <main>
        <div class="box-p"><img src="/images/craft1.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft2.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft9.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft10.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft6.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft7.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft8.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft4.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft5.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft3.jpg" class="album"></div>
        <div class="box-p"><img src="/images/craft11.jpg" class="album"></div>
    </main>
    </div>
</body>
</html>