<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macrame art gallery</title>
     <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
     <div class="container">
        {{>navbar}}
    <header>
        <h1>Macrame art collection</h1>
    </header>
    <main>
        <div class="box-p"><img src="/images/mac1.jpg" class="album"></div>
        <div class="box-p"><img src="/images/mac2.jpg" class="album"></div>
        <div class="box-p"><img src="/images/mac3.jpg" class="album"></div>
        <div class="box-p"><img src="/images/mac9.jpg" class="album"></div>
        <div class="box-p"><img src="/images/mac5.jpg" class="album"></div>
        <div class="box-p"><img src="/images/mac6.jpg" class="album"></div>
        <div class="box-p"><img src="/images/mac7.jpg" class="album"></div>
        <div class="box-p"><img src="/images/mac8.jpg" class="album"></div>
    
       
    </main>
</div>

</body>

</html>