<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandala art gallery</title>
     <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
     <div class="container">
        {{>navbar}}
    <header>
        <h1>Mandala Art Gallery</h1>
    </header>
    <main>
        <div class="box-p"><img src="/images/m7.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m5.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m9.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m3.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m2.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m1.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m4.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m6.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m8.jpg" class="album"></div>
        <div class="box-p"><img src="/images/m10.jpg" class="album"></div>
       
    </main>
</div>

</body>

</html>