<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings Art Gallery</title>
     <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
     <div class="container">
        {{>navbar}}
    <header>
        <h1>Painting Collection</h1>
    </header>
    <main>
        <div class="box-p"><img src="/images/p2.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p5.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p1.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p9.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p3.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p4.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p6.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p7.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p8.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p10.jpg" class="album"></div>
        <div class="box-p"><img src="/images/p11.jpg" class="album"></div>
    </main>

</div>
</body>

</html>