<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pottery Art Gallery</title>
     <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
     <div class="container">
        {{>navbar}}
    <header>
        <h1>Pottery Art Collection</h1>
    </header>
    <main>
        <div class="box-p"><img src="/images/pot2.jpg" class="album"></div>
        <div class="box-p"><img src="/images/pot4.jpg" class="album"></div>
        <div class="box-p"><img src="/images/pot5.jpg" class="album"></div>
        <div class="box-p"><img src="/images/pot6.jpg" class="album"></div>
        <div class="box-p"><img src="/images/pot7.jpg" class="album"></div>
        <div class="box-p"><img src="/images/pot8.jpg" class="album"></div>
        <div class="box-p"><img src="/images/pot9.jpg" class="album"></div>
        <div class="box-p"><img src="/images/pot1.jpg" class="album"></div>
        <div class="box-p"><img src="/images/pot11.jpg" class="album"></div>
    </main>
</div>

</body>

</html>