<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="services">
        <div class="container-3">
            {{>navbar}}
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">Our Services</h1>
                    <p class="text-center sub-heading">Grow your talent with us!!!</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services rangoli">
                                    <div class="icon">
                                        <img src="https://cdn-icons-png.flaticon.com/128/509/509978.png" class="imu"
                                            alt="">
                                    </div>
                                    <h1><a class="photo_gallery" href="/rangoli_photo"> Rangoli's</a></h1>
                                    <p>We have a various types of rangoli's in our collection. If you want to have a look. Then click on <span>Rangoli's</span> above</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services painting">
                                    <div class="icon">
                                        <img src="https://cdn-icons-png.flaticon.com/128/2970/2970785.png" class="imu"
                                            alt="">
                                    </div>
                                    <h1><a class="photo_gallery" href="/painting_photo">Paintings</a></h1>
                                    <p>We have a various types of painting's in our collection. If you want to have a look. Then click on <span>Painting's</span> above</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services pottery">
                                    <div class="icon">
                                        <img src="https://cdn-icons-png.flaticon.com/128/2917/2917662.png" class="imu"
                                            alt="">
                                    </div>
                                    <h1><a class="photo_gallery" href="/pottery_photo">Pottery</a></h1>
                                    <p>We have a various types of pottery in our collection. If you want to have a look. Then click on <span>Pottery</span> above</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services mandala">
                                    <div class="icon">
                                        <img src="https://cdn-icons-png.flaticon.com/128/9863/9863813.png" class="imu"
                                            alt="">
                                    </div>
                                    <h1><a class="photo_gallery" href="/mandala_photo">Mandala Art</a></h1>
                                    <p>We have a various types of Mandala art in our collection. If you want to have a look. Then click on <span>Mandala Art</span> above</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services macrame">
                                    <div class="icon">
                                        <img src="https://cdn-icons-png.flaticon.com/128/5434/5434523.png" class="imu"
                                            alt="">
                                    </div>
                                    <h1><a class="photo_gallery" href="/macrame_photo">Macrame Art</a></h1>
                                    <p>We have a various types of Macrame art in our collection. If you want to have a look. Then click on <span>Macrame Art</span> above</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services craft">
                                    <div class="icon">
                                        <img src="https://cdn-icons-png.flaticon.com/128/3813/3813693.png" class="imu"
                                            alt="">
                                    </div>
                                    <h1><a class="photo_gallery" href="/craft_photo">Crafts</a></h1>
                                    <p>We have a various types of craft ideas in our collection. If you want to have a look. Then click on <span>Craft</span> above</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>