@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
    font-family: "Poiret One", cursive;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

/* ********************************************************Navbar***************************************************** */

.navbar-brand .nav-link {
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
    font-size: 1.9rem;
}

.navbar-brand {
    color: rgb(62, 12, 12);
    font-size: 25px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #994d62;
}

.nav-link:hover {
    color: rgb(193, 93, 93);
}

/* *******************************************************HOME**************************************************************** */

#home {
    width: 100%;
    height: 100vh;
    background-image: url(../images/background-1.jpg);
    /* width: 100vw;
    height: 100vh; */
    background-size: cover;
    background-position: center
}


.header {
    color: black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 80px;
    padding-top: 150px;
}

.red {
    color: white;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

/* ********************************************************ABOUT***************************************************************************************************************** */
#about {
    background-image: url(../images/background-3.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.artist {
    font-size: 50px;
    color: rgb(139, 128, 128);
    margin-left: 600px;
    margin-top: 20px;
    font-weight: bold;
}

.art {
    font-size: 25px;
    color: rgb(139, 128, 128);
    margin-left: 700px;
    margin-top: 40px;
}

/* *************************************************OUR_SERVICES************************************************************************** */
body {
    margin: 0;
    padding: 0;
}
#services {
    background-color: #cb9dad;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.main-heading {
    font-weight: bold;
    color: #4d1d2b;
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

span{
    font: bold;
    color: rgb(173, 31, 66);;
}
.our-services {
    margin-top: 65px;
    padding-bottom: 30px;
    padding: 0 30px;
    min-height: 160px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.our-services .icon {
    margin-bottom: -51px;
    transform: translateY(-50%);
    text-align: center;
}

.imu {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff;
}

.rangoli:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
}

.painting:hover {
    box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

.pottery:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #5035ec 0%, #44a2f6 50%);
}

.mandala:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
}

.macrame:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #974eff 0%, #5a57fb 50%);
}

.craft:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #16b626 0%, #082c18 50%);
}

/* *********************************Gallery*********************************** */
.photo_gallery {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

/************************************************************CONTACT*********************************************************************************/
#contact {
    background-image: linear-gradient(-45deg, #6b0628 0%, #af773f 50%);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center
}

.box-1 {
    position: relative;
    width: 100%;
    padding-right: 400px;
    padding-left: 400px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 5px;
    margin-bottom: 0;
}

.mb-3 {

    justify-content: center;
    width: 100%;
}

.mb-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

::placeholder {
    font-size: 15px;
    font-weight: 500;
}

/* ********************************************painting_photo************************************************************** */

header {
    font-size: 30px;
    text-align: center;
}

.box-p {
    display: block;
    float: left;
    padding: 15px;
    width: 400px;
    height: 400px;
}


.album {
    width: 100%;
    height: 100%;
}

.album:hover {
    transform: scale(1.2, 1.2);
    transition: 1s transform;
}


/* *********************************************Footer******************************************************** */
.footer{
    margin-top: 260px;
}
.inner-footer {
    margin: 0;
    padding: 0;
    height: 40px;
    background-color: black;
}

.social-links {
    display: flex;
}

.social-links ul {
    /* padding: 20px; */
    list-style: none;
    display: flex;
    width: 300px;
    height: 30px;
    margin: auto;

}

.social-items a {
    padding: 10px 20px;
    font-size: 30px;
    color: #6cccc6;
}
.social-items a:hover{
    color:#337074 ;
}

.outer-footer {
    padding: 6px;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: #3f3f3f;
}

.outer-footer i {
    color: red;
}

/* *********************************************Media queries************************************************* */

/* @media only screen and (max-width: 600px){
     .mb-3{
        width:100px
     }
} */